@if (!showInvoiceView) {
    <app-header pageTitle="Lots">
        <div actions class="flex gap-2 items-end">
            <div class="flex flex-col">
                <label class="text-xs mb-1">Auction</label>
                <p-select [loading]="loadingAuctions" placeholder="Select Auction" appendTo="body" [options]="auctions"
                          optionLabel="NameOfAuction" optionValue="id"
                          [(ngModel)]="selectedAuctionId" (onChange)="load()" [filter]="true" [showClear]="true"
                          (onFilter)="onFilter($event)"></p-select>
            </div>
            <div class="flex flex-col">
                <label class="text-xs mb-1">Lot No</label>
                <input pInputText type="text" [(ngModel)]="searchLot" (keyup.enter)="load()" placeholder="Lot number"/>
            </div>
        </div>
    </app-header>

    <p-table [value]="rows" [loading]="loading" [paginator]="true" [rows]="rowsPerPage" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="onPageChange($event)" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th>Lot no <i class="fa fa-filter text-gray-400 ml-1"></i></th>
                <th>Wildlife Type</th>
                <th>Description</th>
                <th style="width: 8rem">Lot Type</th>
                <th style="width: 5rem">Quantity</th>
                <th style="width: 8rem">Sold Status</th>
                <th style="width: 12rem">Buyer</th>
                <th style="width: 8rem">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.mainlotno }}</td>
                <td>{{ row.wildlifeType }}</td>
                <td>{{ row.description }}</td>
                <td>Per {{ row.price | titlecase }}</td>
                <td>{{ row.sum_total }}</td>
                <td>
                    @if (row.VMStatus?.toLowerCase() == 'sold') {
                        <span class="text-green-700">{{ row.VMStatus }}</span>
                    } @else if (row.VMStatus?.toLowerCase() == 's.t.c') {
                        <span class="text-yellow-600">{{ row.VMStatus }}</span>
                    }
                    @else {
                        <span class="text-red-600">{{ row.VMStatus }}</span>
                    }
                </td>
                <td>
                    {{row.firstName}} {{row.lastName}}
                </td>
                <td>
                    <div class="flex gap-1">
                        <p-button icon="fa fa-file-invoice-dollar" pTooltip="Create Invoice" tooltipPosition="left" size="small" (onClick)="showInvoice(row)"></p-button>
                        <p-button icon="fa fa-quote-right" pTooltip="Create Quote" tooltipPosition="left" size="small" (onClick)="createQuote(row)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No lots found</td>
            </tr>
        </ng-template>
    </p-table>
} @else {
    <div class="h-screen flex flex-col">
        <div class="flex justify-between items-center p-4 border-b bg-white z-10 no-print flex-shrink-0">
            <h2 class="text-xl font-semibold">Invoice Preview</h2>
            <div class="flex gap-2">
                <p-button icon="fa fa-print" (onClick)="printInvoice()" size="small" label="Print"></p-button>
                <p-button icon="fa fa-times" (onClick)="hideInvoice()" size="small" [text]="true" label="Close"></p-button>
            </div>
        </div>
        <div id="invoiceContent" class="flex-1 overflow-hidden">
            <app-sample-invoice #sampleInvoice [config]="invoiceConfig" [lots]="invoiceLotDetails"></app-sample-invoice>
        </div>
    </div>
}

<p-confirmDialog class="no-print"></p-confirmDialog>

@if (loadingInvoice) {
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 no-print">
        <div class="bg-white p-6 rounded-lg flex items-center gap-3">
            <i class="fa fa-spinner fa-spin text-blue-500"></i>
            <span>Loading invoice details...</span>
        </div>
    </div>
}


