#img {
  width: 400px;
}
#main-container {
  @apply p-4 bg-gray-50 h-full;
}
.items-total-footer {
  @apply bg-gray-100;
  font-weight: bold;
}
.table {
  @apply w-full border-collapse border border-gray-300 text-xs my-4;
  thead, tfoot {
    @apply bg-gray-100 font-bold;
  }
  td, th {
    @apply border px-2 py-1;
  }
}

@media only screen and (max-width: 1050px) {
  #img {
    width: 300px;
  }
}

@media print {
  #img {
    width: 300px;
  }
  body * {
    visibility: hidden;
  }
  #main-container {
    @apply p-1;
    #inner-container {
      @apply shadow-none;
    }
  }
  #invoice, #invoice * {
    visibility: visible;
  }
  #invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}

@page {
  margin: 5mm; /* adjust margins */
  size: auto;
}

@page {
  @top-left { content: none; }
  @top-center { content: none; }
  @top-right { content: none; }
  @bottom-left { content: none; }
  @bottom-center { content: none; }
  @bottom-right { content: none; }
}
