<div id="invoice">
    <div id="main-container">
        <div id="inner-container" class="max-w-5xl mx-auto bg-white shadow-lg rounded-lg p-8">
            <!-- Header -->
            <div class="border">
                <div class="flex">
                    <div id="img">
                        <img class="px-10" src="assets/img/awa.png">
                    </div>
                    <div class="flex-1">
                        <div class="border-b-2 pb-2 mb-1">
                            @if (config?.awa_contact) {
                                <div class="ql-editor" [innerHTML]="config?.awa_contact"></div>
                            } @else {
                                <b>NO DATA</b>
                            }
                        </div>

                        <div class="border-b-2 pb-2 mb-1">
                            @if (config?.bank_detail) {
                                <div class="ql-editor" [innerHTML]="config?.bank_detail"></div>
                            } @else {
                                <b>NO DATA</b>
                            }
                        </div>

                        <div>
                            <h3 class="text-base font-bold">Buyer</h3>
                            <h2 class="font-semibold text-2xl">Tax Invoice</h2>
                            <div>
                                <span class="font-semibold text-gray-700 text-xs">#B-RR-1873 Date: 12/09/2025 12-SEPT-2025-AWA-PLAINS-AND-RA</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 border-t text-xs">
                    <div class="p-2 border-r">
                        <h2 class="font-semibold text-lg">Buyer</h2>
                        <p>
                            <span class="font-semibold">KUCHE HUNTING SAFARIS</span><br>
                            P.O. Box 734, Lephalale, 0555<br>
                            ZA/LP/105822<br>
                            Skilpadfontein 328LQ, Steenbokpan
                        </p>
                    </div>
                    <div class="p-2">
                        <span class="font-semibold">Contact:</span> Koos De Meyer<br>
                        <span class="font-semibold">Email:</span> hunt@kuche.co.za<br>
                        <span class="font-semibold">Cell:</span> 084 702 7964<br>
                        <span class="font-semibold">Tel:</span> 063 368 8505<br>
                        <span class="font-semibold">VAT No:</span> 4610255996
                    </div>
                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th class="text-left w-lot-column-90">Lot</th>
                    <th class="text-left w-lot-column-50">Buyer</th>
                    <th class="text-left w-lot-column-200">Item</th>
                    <th class="text-right w-lot-column-20">M</th>
                    <th class="text-right w-lot-column-20">F</th>
                    <th class="text-right w-lot-column-20">T</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Total</th>
                    <th class="text-right">VAT</th>
                </tr>
                </thead>
                <tbody>
                    @for (lot of lotList; track lot) {
                        <tr>
                            <td class="text-left w-lot-column-90">{{lot.Lot}}</td>
                            <td class="text-left w-lot-column-50">{{lot.Buyer}}</td>
                            <td class="text-left w-lot-column-200">{{lot.Item}}</td>
                            <td class="text-right w-lot-column-20">{{lot.M}}</td>
                            <td class="text-right w-lot-column-20">{{lot.F}}</td>
                            <td class="text-right w-lot-column-20">{{lot.T}}</td>
                            <td class="text-right">{{lot.Amount | currency: 'INR': ''}}</td>
                            <td class="text-right">{{lot.Total | currency: 'INR': ''}}</td>
                            <td class="text-right">{{lot.Vat | currency: 'INR': ''}}</td>
                        </tr>
                    }

                    <tr class="bg-gray-100 font-bold">
                        <td class="text-left w-lot-column">Total</td>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{totalOfLot.m}}</td>
                        <td class="text-right">{{totalOfLot.f}}</td>
                        <td class="text-right">{{totalOfLot.t}}</td>
                        <td></td>
                        <td class="text-right">{{ totalOfLot.amount | currency: 'INR': '' }}</td>
                        <td class="text-right">{{ totalOfLot.vat | currency: 'INR': '' }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">Summary</th>
                    <th class="text-right">QTY</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">R/Item</th>
                </tr>
                </thead>

                <tbody>
                    @for (summary of summaryList; track summary) {
                        <tr>
                            <td class="text-left">{{summary.Summary}}</td>
                            <td class="text-right">{{summary.QTY}}</td>
                            <td class="text-right">{{summary.Amount | currency: 'INR': ''}}</td>
                            <td class="text-right">{{summary.RPerItem | currency: 'INR': ''}}</td>
                        </tr>
                    }
                    <tr class="bg-gray-100 font-bold">
                        <td class="text-left">Total</td>
                        <td class="text-right">{{totalOfSummary.qty}}</td>
                        <td class="text-right">{{totalOfSummary.amount | currency: 'INR': ''}}</td>
                        <td class="text-right"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">EXPENSES</th>
                    <th class="text-left">NOTE</th>
                    <th class="text-right">BEFORE VAT</th>
                    <th class="text-right">VAT</th>
                    <th class="text-right">INCLUSIVE</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="text-left">TRANSPORT</td>
                    <td class="text-left">AWAGC</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                </tr>
                    <tr class="bg-gray-100 font-bold">
                        <td class="text-left">Total</td>
                        <td class="text-left"></td>
                        <td class="text-right">{{2500 | currency: 'INR': '2'}}</td>
                        <td class="text-right">{{2500 | currency: 'INR': '2'}}</td>
                        <td class="text-right">{{2500 | currency: 'INR': '2'}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">DUE</th>
                    <th class="text-right">BEFORE VAT</th>
                    <th class="text-right">VAT</th>
                    <th class="text-right">INCLUSIVE</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="text-left">PURCHASES</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                </tr>
                <tr>
                    <td class="text-left">COMMISSION</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                </tr>
                <tr>
                    <td class="text-left">EXPENSES</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{1245 | currency: 'INR': '2'}}</td>
                </tr>
                <tr class="bg-gray-100 font-bold">
                    <td class="text-left">Total</td>
                    <td class="text-right">{{2500 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{2500 | currency: 'INR': '2'}}</td>
                    <td class="text-right">{{2500 | currency: 'INR': '2'}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">PAYMENT METHOD</th>
                    <th class="text-left">NOTE</th>
                    <th class="text-right">AMOUNT</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th class="text-left">EFT NEDBANK</th>
                    <th class="text-left">22/09/2025</th>
                    <th class="text-right">{{2500 | currency: 'INR': '2'}}</th>
                </tr>
                <tr>
                    <td class="text-left">Not Paid</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">NOTE</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="text-left">- -</td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">I hereby accept the terms and conditions of this auction as per the catalogue and announcement prior to this
                        auction.</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="text-left">
                        <div class="p-3">_________________________________________&nbsp;&nbsp;Date: _____ / _____ / ___________</div>
                        <p class="mt-1">E&OE</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>