#img {
  width: 400px;
}
#main-container {
  @apply p-4 bg-gray-50 h-full;
}
.items-total-footer {
  @apply bg-gray-100;
  font-weight: bold;
}
.table {
  @apply w-full border-collapse border border-gray-300 text-xs my-4;
  thead, tfoot {
    @apply bg-gray-100 font-bold;
  }
  td, th {
    @apply border px-2 py-1;
  }
}

@media only screen and (max-width: 1050px) {
  #img {
    width: 300px;
  }
}